{
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.css, *.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
